.scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5e419c;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    font-size: 15px;
}

.hide {
    display: none;
}

@keyframes toTop {
    50% {
        box-shadow: none;
    }

    10% {
        box-shadow: 0px 0px 5px 9px #5e419cc2;
    }

    40% {
        box-shadow: 0px 0px 9px 11px #5e419cc2;
    }
}